<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  {% block title %}{% endblock %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/admindash.css' %}">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link href="{% static 'css/opensans-font.css' %}" rel='stylesheet'>
  <link href="{% static 'css/studstyle.css' %}" rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <div class="row d-flex">
    <div class="col-lg-3 col-xl-3">
      <div class="sidebar">
        <div class="logo-details">
          <i class='bx bxs-user-circle'></i>
          <span class="logo_name">Admin Panel</span>
        </div>
        <ul class="nav-links">
          <li>
            <a href="/">
              <i class='bx bx-home'></i>
              <span class="links_name">Home</span>
            </a>
          </li>
          <li>
            <a href="/studentreg/">
              <i class='bx bx-user-plus'></i>
              <span class="links_name">Register Student</span>
            </a>
          </li>
          <li>
            <a href="room.html">
              <i class='bx bxs-city'></i>
              <span class="links_name">Room Allotment</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class='bx bxs-food-menu'></i>
              <span class="links_name">Update Mess Menu</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-wallet-alt'></i>
              <span class="links_name">Billing</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class='bx bx-chat'></i>
              <span class="links_name">Update Notification</span>
            </a>
          </li>
          <li>
            <a href="visitors.html">
              <i class='bx bx-book-alt'></i>
              <span class="links_name">Visitors</span>
            </a>
          </li>
          <li class="log_out">
            <a href="#">
              <i class='bx bx-log-out'></i>
              <span class="links_name">Log out</span>
            </a>
          </li>
        </ul>
      </div>
      
    </div>
    {% block content %}{% endblock content %}
  </div>
  <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
      sidebar.classList.toggle("active");
      if (sidebar.classList.contains("active")) {
        sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else
        sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
  </script>

</body>

</html>