{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
    <center><h2>Edit Profile</h2></center>
    <center><h4 style="color:red">{{msg}}</h4></center>
    <div class="form-container"></div>
    {% for s in key1 %}
    <form action="{% url 'edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-name">
            <i class="fa fa-user icon"></i>
            <input type="text" placeholder="First Name" class="name" name="fname" value="{{s.First_Name}}">
            <span>
                <i class="fa fa-user icon"></i>
            <input type="text" placeholder="Last Name" class="name" name="lname " value="{{s.Last_Name}}">
            </span>
        </div>
        <div class="input-name">
            <i class="fa fa-book"></i>
            <input type="password" placeholder="Password" class="name" name="password" value="{{s.password}}">
            <span>
                <i class="fa fa-columns"></i>
                <input type="password" placeholder="Confirm Password" class="name" name="cpassword" value="{{s.cpassword}}">
            </span> 
        </div>
            <div class="input-name">
                <i class="fa fa-phone"></i>
                <input type="tel" placeholder="Contact" required class="text-name" name="contact" value="{{s.Contact}}">
            </div>
            <div class="input-name">
                <i class="fa fa-book"></i>
                <input type="text" placeholder="Course" required class="name" name="course" value="{{s.Course}}">
            </div>
            <div class="input-name">
                <i class="	fa fa-calendar"></i>
                <input type="date" placeholder="Date of Birth" required class="text-name" name="dob" value="{{s.Dob}}">
            </div>
            <div class="input-name">
                <input type="submit" class="button" value="Update">
            </div>
        </div>
    </form>
{% endfor %}
