{% extends 'admindash.html' %}
{% load static %}
  
    {% block title %}
    {% endblock %}
{% block content %}
<div class="col-lg-8">
<div class="row justify-content-around ml-8 mt-5"> 
  <div class="col-lg-8">
    <a href="/addmess/" class='btn btn-primary my-2  float-end' style="    position: absolute;
    margin-left: 102%;">+ Add Mess</a>  
<table class="table table-striped ">
  <h4 style="color: red;"><i><strong>Mess Menu</strong><i></h4>
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  {% if mess %}
  <tbody>
    {% for i in mess %}
    <tr>
      <td>{{i.day}}</td>
      <td>{{i.item}}</td>
      <td>{{i.price}}</td>
      <td>
        
        <a href="{% url 'messedit' i.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a href="/messdelete/{{i.id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
        
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>
</div>
</div>
</div>
{% endblock content %}




