<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h2>Registration Form</h2>
    <div class="form-container"></div>
    <form action="">
        <div class="input-name">
            <i class="fa fa-user icon"></i>
            <input type="text" placeholder="First Name" class="name">
            <span>
                <i class="fa fa-user icon"></i>
            <input type="text" placeholder="Last Name" class="name">
            </span>
        </div>
        <div class="input-name">
            <i class="fa fa-book"></i>
            <input type="text" placeholder="Course" class="name">
            <span>
                <i class="fa fa-columns"></i>
            <input type="number" placeholder="Roll no." class="name">
            </span>
        </div>
            <div class="input-name">
                <i class="fa fa-envelope email icon"></i>
                <input type="email" placeholder="Email" required class="text-name">
            </div>
            <div class="input-name">
                <i class="fa fa-phone"></i>
                <input type="tel" placeholder="Phone" required class="text-name">
            </div>
            <div class="input-name">
                <i class="	fa fa-calendar"></i>
                <input type="number" placeholder="Date of Birth" required class="text-name">
            </div>
            <div class="input-name">
                <i class="fa fa-address-card"></i>
                <input type="number" placeholder="Adhaar no." required class="text-name">
            </div>
            <div class="input-name">
                <strong>Gender:</strong>
                 <input type="radio" class="radio button" name="r1">
                 <label for="">Male</label>
                
                <input type="radio" class="radio button" name="r1">
                <label for="">Female</label>
                </div>
            <div class="input-name">
                <input type="submit" class="button" value="Register">

            </div>
        </div>
    </form>
    
</body>
</html>