{% extends 'admindash.html' %}
{% load static %}

{% block content %}
    <div class="container">
    <h2>Room Allotment</h2>
    <div class="form-container"></div>
    <form action="{% url 'roombook' %}" method="post" >
        {% csrf_token %}
        <div class="input-name">
            <label for="">Student:</label>
            <select name="student" id="">
                {% for user in user %}
               
                <option class="form-control" value="{{user.user.id}}">{{user.First_Name}} {{user.Last_Name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-name">
            <label for=""> Room Number:</label>
            <select name="room" id="">
                {% for room in room %}
                <option class="form-control" value="{{room.id}}">{{room.Room_no}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-name">
           
           
            <span>
                <i class="fa fa-columns"></i>
            <input type="number" placeholder="Amount" required class="name" name="amount">
            </span>
        </div>
           
            <div class="input-name">
                <input type="submit" class ="button" value="Allot room">
                
            </div>
        </div>
    </form>
{% endblock content %}
