<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/room.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h2>Room Allotment</h2>
    <div class="form-container"></div>
    <form action="{% url 'roomallocate' %}" method="post" >
        {% csrf_token %}
        <div class="input-name">
            <label for="">Student:</label>
            <select name="student" id="">
                {% for user in user %}
               
                <option class="form-control" value="{{user.user.id}}">{{user.First_Name}} {{user.Last_Name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-name">
            <label for=""> Room Number:</label>
            <select name="room" id="">
                {% for room in room %}
                <option class="form-control" value="{{room.id}}">{{room.Room_no}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-name">
           
           
            <span>
                <i class="fa fa-columns"></i>
            <input type="number" placeholder="Amount" required class="name" name="amount">
            </span>
        </div>
           
            <div class="input-name">
                <input type="submit" class ="button" value="Allot room">
                <input type="submit" class ="button" value="UnAllot room">
            </div>
        </div>
    </form>
    
</body>
</html>