{% extends 'admindash.html' %}

{% block title %}

{% endblock title %}

{% block content %}
   <div class="col-lg-8">
       <div class="row justify-content-around ml-8 mt-5">
           <div class="col-lg-8">
                   <a href="/roombook/" class='btn btn-primary my-2  float-end' style="    position: absolute;
                   margin-left: 102%;">+ Room Book</a>
                   <table class="table table-striped" id="geniustable55" >
 
                        <thead>
                            <tr>
                              
                              <th scope="col">First</th>
                              <th scope="col">Last</th>
                              <th scope="col">Amount</th>
                              <th scope="col">Status</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          {% if book %}
                          <tbody>
                              {% for i in book %}
                            <tr>
                          
                              <td>{{i.user}}</td>
                              <td>{{i.user}}</td>
                              <td>{{i.amount}}</td>
                              <td>{{i.statu}}</td>
                              <td><a href="{% url 'roomdetails' i.id %}"><i class="fa fa-eye  text-dark pl-4" aria-hidden="true"></i></a></td>
                            </tr>    
                            {% endfor %}
                          </tbody>
                          {% endif %}
                        </table>
           </div>
           </div>
{% endblock content %}