<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="visitors.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h2>Visitors</h2>
    <div class="form-container"></div>
    <form action="">
        <div class="input-name">
            <i class="fa fa-user icon"></i>
            <input type="text" placeholder="First Name" required class="name">
            <span>
                <i class="fa fa-user icon"></i>
            <input type="text" placeholder="Last Name" required class="name">
            </span>
        </div>
            <div class="input-name">
                <i class="fa fa-envelope email icon"></i>
                <input type="email" placeholder="Email" class="text-name">
            </div>
            <div class="input-name">
                <i class="fa fa-phone"></i>
                <input type="tel" placeholder="Phone" required class="text-name">
            </div>
            <div class="input-name">
            <strong>Gender:</strong>
             <input type="radio" class="radio button" name="r1">
             <label for="">Male</label>
            
            <input type="radio" class="radio button" name="r1">
            <label for="">Female</label>
            </div>
            <div class="input-name">
                <input type="submit" class="button" value="Submit">

            </div>
        </div>
    </form>
    
</body>
</html>