{% extends 'admindash.html' %}

{% block title %}

{% endblock title %}

{% block content %}
    <div class="container">
    <h2>Visitors</h2>
    <div class="form-container"></div>
    <form action="">
        <div class="input-name">
            <i class="fa fa-user icon"></i>
            <input type="text" placeholder="First Name" required class="name">
            <span>
                <i class="fa fa-user icon"></i>
            <input type="text" placeholder="Last Name" required class="name">
            </span>
        </div>
            <div class="input-name">
                <i class="fa fa-envelope email icon"></i>
                <input type="email" placeholder="Email" class="text-name">
            </div>
            <div class="input-name">
                <i class="fa fa-phone"></i>
                <input type="tel" placeholder="Phone" required class="text-name">
            </div>
            <div class="input-name">
            <strong>Gender:</strong>
             <input type="radio" class="radio button" name="r1">
             <label for="">Male</label>
            
            <input type="radio" class="radio button" name="r1">
            <label for="">Female</label>
            </div>
            <div class="input-name">
                <input type="submit" class="button" value="Submit">

            </div>
        </div>
    </form>
{% endblock content %}